body {
    font-family: 'MedievalSharp', cursive;
    background-color: #7ebe9e;
    text-align: center;
  }
  
  #story-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #000000;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7ebe9e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #568b8a;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #image-container {
    margin-top: 20px;
  }
  
  #image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  